/* Customised checkbox */
/* The container */

.container2 {
   
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 30px;
  }
  
label{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

  /* Hide the browser's default checkbox */
   .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  
  /*The check markstyle*/
  .checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius : 100px;
  }
  
  /* On mouse-over, add a grey background color */
  /* .container:hover input ~ .checkmark2 {
    background-color: yellow;
  } */
  
  /* When the checkbox is checked, add a color background */
  .container2 input:checked ~ .checkmark2 {
    background-color: yellow;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark2:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container2 input:checked ~ .checkmark2:after {
    display: block;
  }
  
  /* Style the checkmark/indicator after checked */
  .container2 .checkmark2:after {
    left: 9px;
    top: 3px;
    width: 8px;
    height: 20px;
    border: solid white;
    border-width: 0 5px 5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 